<div class="col-6" style="margin-top: 50px;">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Name" name="name">
      <label for="floatingInput">Name</label>
    </div>
  </div>
  <div class="col-6" style="margin-top: 50px;">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.author}}" placeholder="Author" name="author">
      <label for="floatingInput">Author</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.category}}" placeholder="machine learning, algorithm..." name="category">
      <label for="floatingInput">Category</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.image}}" placeholder="image link"  name="image">
      <label for="floatingInput">Image</label>
    </div>
  </div>

  <div class="col-12">
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a description here" id="descriptions" name="descriptions" style="height: 200px">{{this.comments}}</textarea>
      <label for="comments">Descriptions</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>